---
layout: layouts/home.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---

<div class="404-container">
    <div>
        <h1>Content not found.</h1>
        <p>Go <a href="{{ '/' | url }}">home</a>.</p>
    </div>
</div>